
@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

#dugme_story_1:hover, #dugme_story_2:hover, #dugme_story_3:hover, #dugme_story_4:hover, #dugme_story_5:hover {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


#naslov1 {
        letter-spacing: 2px;
        font-weight: 900;
    }
    
#naslov2 {
    margin-top: -18px;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 30px;
}

#red2 {
    top: 200px;
    height: 60px;
}

#dugme2 {
    margin-top: 13px;
    }

#dugme3 {
    margin-top: 10px;
}
    
#red3 {
    top: 260px;
}

#footer {
    height: 300px;
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 8px;
    opacity: 0.8;
    border-radius: 15px;
    }
    
.container_za_znak {
    background-image: url('../img/header_transparent.png');
    height: 106px;
    width: 165px;
    margin-left: 480px;
    margin-top: 12px;
}
    
.footer_link {
    text-align: center;
    color: white;
    opacity: 1;
    margin-top: 20px;
    font-family: 'Microgramma'
}

.footer_naslov {
    text-align: center;
    font-size: 35px;
    font-family: 'Microgramma';
    margin-top: 15px;
    color: #b3ccff;
}

body {
    background-image: url('../img/tadis_sabah.jpg');
    background-attachment: fixed;
}

#pozadina1, #pozadina2, #pozadina3, #footer {
    border-style: solid;
    border-width: 1px;
    border-color: #737373;
    border-radius: 10px;
}

#pozadina1 {
    background-image: url('../img/Homeworld_p1_croped.jpg');
    height: 555px;
    margin-top: 4px;
}

#pozadina2 {
    background-image: url('../img/pozadina.png');
    height: 512px;
}

#pozadina3 {
    background-image: url('../img/KHad.jpg');
    height: 575px;
    margin-top: 5px;
}

#pozadina3_naslov {
    font-size: 35px;
    font-family: 'Blender';
    text-align: center;
    color: #cccccc;
    margin-top: 7px;
}

#quote1, #quote2 {
    font-family: 'Blender';
    font-style: bold;
    letter-spacing: 1px;
    font-size: 22px;
    color: #cccccc;
}

#quote1 {
    margin-top: 470px;
    margin-left: 620px;
}

#quote2 {
    margin-left: 750px;
}
    


.dugme_Row_1, .Nav_1 {
    margin-left: 60px;
    margin-top: 150px;
    width: 120px;
    height:40px;
    background-color: #0040ff;
    color: black;
    position: relative;
    border-width: 1px;
    border-color: #3399ff;
    opacity: 1;
    font-weight: 500;
    letter-spacing: 0.25mm;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #000033; 
    font-family: 'Blender';
}

.Nav_1 {
    margin-left: 5px;
    width: 300px;
    margin-top: 15px;
    background-color: #4d88ff;
}

.Nav_11 {
    margin-top: -30px;
}


.dugme_Row_1:hover {
    color: black;
}

#dugme_story_1 {
    font-size: 13px;
    margin-left: 500px;
    margin-top: 75px;
    background-color: #cc8800;
    opacity: 0.8;
    border-color: #805500;
    border-width:2px;
}

#dugme_story_2 {
    font-size: 12px;
    width: 140px;
    background-image: url('../img/Desert.jpg');
    margin-left: 440px;
    opacity: 0.7;
    border-color: #ffeecc;
    margin-top: 95px;
}

#dugme_story_3 {
    font-size: 12px;
    width: 80px;
    margin-left: 135px;
    margin-top: 82px;
}

#dugme_story_4 {
    margin-left: 170px;
    background-image: url('../img/galaxy.jpg');
    color: #e6e6e6;
    border-color: black;
    letter-spacing: 2px;
    font-size: 18px;
}

#dugme_story_5 {
    margin-left: 260px;
    margin-top: 75px;
    background-color: #cccccc;
    font-size: 18px;
    border-color: #cccccc;
}

#dugme_story_2, #dugme_story_4, #pozadina1, #pozadina2, .container_za_znak, #pozadina3, body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


#red1, #red2, #red3, red1_naslov {
    position: absolute;
}

#dugme3 {
    width: 140px;
}

.naslov {
    text-align: center;
    color: #b3ccff;
    font-family: 'Microgramma';
}

#naslov1 {
    font-size: 24px;
}

#Story_Info {
    color: #ff944d;
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Blender';
    letter-spacing: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #737373;
    background-color: #1a1a1a;
    border-radius: 5px;
    opacity: 0.8;
}



@media (min-width: 1224px) and (max-width: 1279px) {
    #dugme1 {
        margin-top: 150px;
    }
    
}

@media (min-width: 1440px) {
    .container {
        width: 1318px;
    }
    
    .container_za_znak {
        margin-left: 550px;
    }
    
    #dugme_story_2 {
        margin-left: 480px;
    }
    
    #dugme_story_1 {
    margin-left: 580px;
    }
    #pozadina3 {
        height: 650px;
    }
    
    #quote1 {
    margin-top: 560px;
    margin-left: 690px;
    }

    #quote2 {
        margin-left: 830px;
    }
    
}

@media (min-width: 960px) and (max-width: 1223px) {
    .container {
        width: 960px;
    }
    #pozadina2 {
        height: 420px;
    }
    
    #dugme_story_1 {
    margin-left: 415px;
    }
    
    #dugme_story_2 {
        margin-left: 340px;
        margin-top: 70px;
    }
    
    #dugme_story_3 {
        margin-left: 115px;
        margin-top: 65px;
}
    #dugme_story_4 {
        margin-left: 120px;
        margin-top: 95px;
    
}

.container_za_znak {
        margin-left: 378px;
    }
    
.Nav_1 {
    margin-left: 3px;
    width: 275px;
}

.Nav_11 {
    margin-top: -20px;
}

    #pozadina3 {
        height: 500px;
    }
    
    #quote1 {
        margin-top: 405px;
        margin-left: 470px;
        font-size: 20px;
    }

    #quote2 {
        margin-left: 600px;
        font-size: 20px;
    }

}

@media (min-width: 960px) and (max-width: 1199px) {
    #dugme1 {
        margin-top: 75px;
    }
    
    #Story_Info {
        height: 72px;
    }
   
}

@media (min-width: 768px) and (max-width: 959px) {
  
    #pozadina1 {
        height: 450px;
    }
    
    #pozadina2 {
        height: 335px;
    }
    
    #naslov1 {
        font-size: 15px;
    }
    
    #naslov2 {
         margin-top: -12px;
         font-size: 20px;
    }

    #Story_Info {
        height: 50px;
        font-size: 30px;
    }
    
    .dugme_Row_1, .Nav_1 {
        width: 90px;
        height: 32px;
        font-size: 12px;
    }
    
    #dugme3 {
        width: 110px;
        margin-top: 10px;
    }
    
    #dugme1 {
        margin-top: 40px;
    }
    
     #dugme2 {
        margin-top: 10px;
    }
    
    #red1 {
        margin-top: 20px;
    }
    
    #red2 {
        top: 160px;
        height: 45px;
    }  
    
    #red3 {
        top: 205px;
    }  
    
    #dugme_story_1 {
        margin-top: 50px;
        margin-left: 330px;
        height: 42px;
        width: 97px;
    }

    #dugme_story_2 {
        margin-left: 220px;
        margin-top: 50px;
    }
    
    #dugme_story_3 {
        margin-left: 80px;
        margin-top: 46px;
        height: 40px;
    }
    
    #dugme_story_4 {
        margin-left: 80px;
        margin-top: 46px;
        height: 38px;
        font-size: 12px;
    }
    
    #dugme_story_5 {
        margin-left: 170px;
        margin-top: 55px;
        height: 35px;
        font-size: 12px;
    }
    
    #footer {
        height: 300px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    
    .footer_naslov {
        font-size: 27px;
    }
    .container_za_znak {
        margin-left: 265px;
        margin-right: 265px;
        width: auto;
        margin-top: 20px;
    }
    .Nav_1 {
        margin-left: 3px;
        width: 190px;
    }

    .Nav_11 {
        margin-top: -20px;
    }
    
    #pozadina3 {
        height: 400px;
    }
    
    #quote1 {
        margin-top: 320px;
        margin-left: 350px;
        font-size: 17px;
    }

    #quote2 {
        margin-left: 450px;
        font-size: 17px;
    }
    
    #pozadina3_naslov {
        font-size: 25px;
    }
   
}

@media (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 100vw;
    }
    
    #glavni_container{
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        width: auto;
    }
    
    #pozadina1 {
        height: 60vw;
    }
    
    #pozadina2 {
        height: 45vw;
        margin-top: 1px;
    }
    
    .container_za_znak {
        margin-left: 35vw;
        margin-top: 30px;
    }
    
     #naslov1 {
        font-size: 2vw
     }
    #naslov2 {
         margin-top: -12px;
         font-size: 3vw;
    }
    
    #Story_Info {
        height: 7vw;
        font-size: 4.5vw;
        margin-top: 3px;
        margin-bottom: 2px;
    }
    
    #footer {
        height: 300px;
        margin-top: 3px;
        margin-bottom: 4px;
    }
    .footer_naslov {
        font-size: 4vw;
    }
    .footer_link {
        font-size: 2vw;
    }
    
    .dugme_Row_1, .Nav_1 {
        width: 14vw;
        height: 5vw;
        font-size: 2.1vw;
    }
    
    #red1 {
        top: 10vw;
        left: 20vw;
        height: 5vw;
    }
    
    #red2 {
        top: 25vw;
        left: 20vw
    }
    
    #red3 {
        top: 39vw;
        left: 20vw
    }
    
    #dugme1 {
        margin-top: 3vw;
        margin-left: 15vw;
    }
    #dugme2 {
        margin-left: 15vw;
    }
    
    #dugme3 {
        width: 20vw;
    }
    
    #dugme_story_1, #dugme_story_2, #dugme_story_3, #dugme_story_4, #dugme_story_5 {
        font-size: 2vw;
    }
    
    #dugme_story_1 {
        margin-left: 43vw;
        margin-top: 5vw;
        height: 7vw;
    }
    
    #dugme_story_2 {
         margin-left: 25vw;
         font-size: 2vw;
         margin-top: 5vw;
         width: 24vw;
    }
    
    #dugme_story_3 {
         margin-left: 55vw;
         margin-top: -30vw;
         width: 13vw;
         height: 6vw;
    }
    
    #dugme_story_4 {
         margin-left: 10vw;
         margin-top: 5vw;
         width: 13vw;
         height: 6vw;
    }
    
    #dugme_story_5 {
         margin-left: 20vw;
         margin-top: 5vw;
         width: 13vw;
         height: 6vw;
    }
    
    .container_za_znak {
        margin-left: 32vw;
        width: auto;
        height: 20vw;
        margin-right: 32vw;
        margin-bottom: 10px;
    }
    
    #footer {
        height: auto;
    }
    
    #pozadina3 {
        height: 55vw;
        margin-top: 3px;
    }
    
    #quote1 {
        margin-top: 40vw;
        margin-left: 47vw;
        font-size: 2vw;
    }

    #quote2 {
        margin-left: 65vw;
        font-size: 17px;
        font-size: 2vw;
        margin-top: -4px;
    }
    
    #pozadina3_naslov {
        font-size: 3.5vw;
    }
    
    .Nav_1 {
        margin-left: 1vw;
        margin-top: 5px;
        width: 19vw;
    }
}